.grid {
	display: grid;
	grid-template-columns: 40% 30% 30%;
	/* grid-template-columns: defines width of the div columns */
	grid-gap: 1em;
	/* grid-column-gap: 1em;
	grid-row-gap: 1em; */
}

.grid > div {
	background-color: pink;
	padding: 1em;
}

.grid > div:nth-child(odd) {
	background-color: lightblue;
}
